/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .mgn-logo {
     height: 50px;
     width: 50px;
     display: inline-block;
     vertical-align: middle;
     text-indent: -9999px;
     background: url(../img/logo.png);
     background: url(../img/logo.svg), linear-gradient(transparent, transparent);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     z-index: 1;
     display: table;
     margin: 0 auto;

   }
