.grid-item
{
    margin-bottom: 10px;
    overflow: hidden
}

.gallery-title
{
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 50px;
}

.grid-item-content 
{
    width: 100%;
    background: #222;
    opacity: 0;
    transition: 1;
    opacity: 1;

}

.grid-item-content--height2 
{ 
    height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 0;
  height: 0%;
  width: calc(100% - 10px);
  opacity: 0.7;
  transition: .5s ease;
  background-color: #222;
}

.overlay .text{
    transition: .2s ease;
  opacity: 0;
}

.grid-item:hover .overlay {
  height: 100%;
}

.grid-item:hover .text {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
