.grid-item
{
    padding-bottom: 10px;
}

.grid-item-content 
{
    width: 100%;
    background: #222;
    opacity: 0;
    transition: 1;
    opacity: 1;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);

}

.grid-item-content--height2 
{ 
    height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 0;
  width: calc(100% - 10px);
    height: calc(100% - 10px);
  transition: .5s ease;
  background-color: #fff;
         opacity: 0;
}

.grid-item:hover .overlay {
     opacity: 0.9;
}

.grid-item:hover .text {
  opacity: 1;
}

.text {
  color: #222;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#my-work
{
    padding-top: 90px;
    margin-top: -90px;
}
