/* The original web-font wasn't set up correctly so it was remade in FontSquirrel, license and purchase proof can still be provided if needed*/

@font-face {
  font-family: 'Archia';
  src: url('/fonts/archia-webfont/archia-bold-webfont.eot');
  src: url('/fonts/archia-webfont/archia-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/archia-webfont/archia-bold-webfont.woff2') format('woff2'), url('/fonts/archia-webfont/archia-bold-webfont.woff') format('woff'), url('/fonts/archia-webfont/archia-bold-webfont.ttf') format('truetype'), url('/fonts/archia-webfont/archia-bold-webfont.svg#archiabold') format('svg');
  font-weight: 700;
  font-style: normal;
}

/* @font-face {
  font-family: 'Archia';
  src: url('archia-regular-webfont.eot');
  src: url('archia-regular-webfont.eot?#iefix') format('embedded-opentype'), url('archia-regular-webfont.woff2') format('woff2'), url('archia-regular-webfont.woff') format('woff'), url('archia-regular-webfont.ttf') format('truetype'), url('archia-regular-webfont.svg#archiaregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Archia';
  src: url('archia-thin-webfont.eot');
  src: url('archia-thin-webfont.eot?#iefix') format('embedded-opentype'), url('archia-thin-webfont.woff2') format('woff2'), url('archia-thin-webfont.woff') format('woff'), url('archia-thin-webfont.ttf') format('truetype'), url('archia-thin-webfont.svg#archiathin') format('svg');
  font-weight: 200;
  font-style: normal;
} */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
